:root {
    --turquoise: #1abc9c;
    --vert: #368575;
  }

* {
    position : relative;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */  
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}
.horizontal-center{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.header{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:10%;
    display: block;
    z-index: 99;
    background-color: #fff;
    min-width: 400px;
}

.wrap{
    position: fixed;
    top:10%;
    width: 100%;
    height: 88%;
    display: block;
    background-color:#eee;
    min-width: 400px;
}

.footer{
    position: fixed;
    bottom:0px;
    left:0px;
    width: 100%;
    height:2%;
    display: block;
    z-index: 99;
    background-color: #000;
    color:white;
    text-align: center;
    font-size: 8px;
    min-width: 400px;
}

.nom{
    left:5%;
    color:var(--vert);
}

.cv{
    right:5%;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--vert);
    border-radius: 3em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-self: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: 1.2em 2.8em;
    box-shadow: 0 0 40px 40px var(--vert) inset, 0 0 0 0 var(--vert);
    transition: all 150ms ease-in-out;
}
.cv:hover {
    box-shadow: 0 0 10px 0 var(--vert) inset, 0 0 10px 4px var(--vert);
    color:var(--vert);
}

.nav{
    position: absolute;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    bottom: .5rem;
    width: 100%;
    height: 60px;
}
.icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--vert);
    color: var(--vert);
    transition: box-shadow .4s ease-in-out, color .4s ease-in-out;
}
.icon-fill {
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 60px;
}
.icon.animate{
    box-shadow: inset 0 0 0 60px var(--vert);
    color:white;
}
.icon.active{
    box-shadow: inset 0 0 0 60px var(--vert);
    color:white; 
}

.section{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
.whiteScreen{
    background-color:#eee;
    display: none;
}
.intro{
    background-color:#eee;
    color: var(--vert);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: all 1s ease-in;
}
.intro.animeIntro{
    transform: translateY(-100%);
}

.text_intro{
    width:80%;
}

.cta_intro{
    width: 22rem;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--vert);
    border-radius: 3em;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: 1.2em 2.8em;
    box-shadow: 0 0 40px 40px var(--vert) inset, 0 0 0 0 var(--vert);
    color: #fff;
    transition: box-shadow 150ms ease-in-out, color 150ms ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}
.cta_intro:hover {
    box-shadow: 0 0 10px 0 var(--vert) inset, 0 0 10px 4px var(--vert);
    color: var(--vert);
}

.contact{
    background-color:#eee;
    color: var(--vert);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: all 1s ease-in; 
}
.contact.animeContact{
    transform: translateY(100%);
}
.form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style .required{
    color:red;
}
.form-style input[type=button], .form-style input[type=reset]{
    background: var(--vert);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    cursor:pointer;
}
.form-style input[type=button]:hover, .form-style input[type=reset]:hover{
    background: var(--vert);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style .field-textarea{
    height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style .long{
    width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
}

.network_container{
    position: relative;
    width:100%;
    margin-top: 10%;
}
.networks{
    position: relative;
    display: block;
    margin: 10% 0;
}
.network{
        width: 60px;
        height: 60px;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 30px;
        font-size: 30px;
        line-height: 60px;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-size: contain;
    filter: grayscale(1);
}
.logo:hover{
    filter: grayscale(0);
}
.network:hover{
    box-shadow: 0 0 10px 0 var(--vert) inset, 0 0 10px 4px var(--vert);
}
.linkedin{
    background-image: url(img/logo_linkedin.png);
}
.malt{
    background-image: url(img/logo_malt.png);
}
.upwork{
    background-image: url(img/logo_upwork.png);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    overflow-y: scroll;
}

.content {
    position: relative;
    width: calc(100% / 4);
    overflow: hidden;
    backface-visibility: hidden;
    float: left;
}
.thumb {
    position: absolute;
    width: 102%;
    height: 102%;
    left: -1%;
    top: -1%;
    pointer-events: none;
}
.bkg_container {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 100%;
    left: 0%;
    transform-origin: top left;
    -webkit-transform: rotate(40deg);
       -moz-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	     -o-transform: rotate(40deg);
		    transform: rotate(40deg);
    background-color:var(--vert);
    pointer-events: none;
    opacity:0.8;
    transition: all 0.3s ease-in-out;
}
.bkg_container.animatebkg{
    top: -100%;
}
.info_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    color: white;
    opacity: 0;
    transition: all 0.1s ease-out 0s;
}
.info_container.animate{
    opacity: 1;
    transition: all 0.3s ease-in 0.1s;
}
.client {
    position: absolute;
    width: 100%;
    top: 30%;
    font-size: 1.6vw;
    text-align: center;
    font-weight: bold;
}
.campagne {
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 1.2vw;
    text-align: center;
}
.agence {
    position: absolute;
    width: 100%;
    top: 48%;
    font-size: 1.1vw;
    text-align: center;
    font-weight: bold;
}
.cta {
    position: absolute;
    width: 40%;
    height: auto;
    top: 68%;
    left: 30%;
    font-size: 0.8vw;
    line-height: 250%;
    text-align: center;
    font-weight: bold;
    border: 2px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background-color: white;
    color:black;
}




.iframe_container{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.close_btn{
    position: absolute;
    width:30px;
    height:30px;
    top:10px;
    right:10px;
    background-image: url(thumb/close_btn.png);
    background-size: contain;
    cursor: pointer;
}



@media screen and (max-width: 1024px){
    .content{ width: calc(100% / 3); }
    .client { font-size: 2vw; }
	.campagne { font-size: 1.6vw; }
	.agence { font-size: 1.5vw; }
	.cta { font-size: 1.2vw; }
}
@media screen and (max-width: 767px){
    .content{ width: 50%; }
    .client { font-size: 2.4vw; }
	.campagne { font-size: 2vw; }
	.agence { font-size: 1.9vw; }
	.cta { font-size: 1.6vw; }
    .nav{ height: 30px; }
    .icon-fill {
        width: 30px;
        height: 30px;
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 15px;
        font-size: 15px;
        line-height: 30px;
    }
    .text_intro {
        margin:1rem;
    }
    .nom, .cv{    
        top: 25%;
        transform: translateY(-25%);
    }
}
@media screen and (max-width: 500px){
    .content{ width: 100%; }
    .client { font-size: 4.8vw; }
	.campagne { font-size: 4vw; }
	.agence { font-size: 3.8vw; }
	.cta { font-size: 3.2vw; }
    #header {
        height: 15%;
    }
    .wrap {
        top: 15%;
        height:83%;
    }
}