body{
    margin: 0;
    padding: 0;
}

#ad {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;
    background-color: white;
    cursor:pointer;
    opacity: 0;
}

.global
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.txt{
    font-family: "Excellence In Motion", sans-serif;
    text-transform: uppercase;
}

.color1{
    background-color: #0d0a43;
    color: #ffeaa7;
}
.color2{
    background-color: #ffeaa7;
    color: #0d0a43;
}

.frame{
    display:none;
}
.content{
    display:none;
    top:-30px;
    left:-10px;
}
.border{
    pointer-events: none; 
}

.skewX{
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.skewY{
    -webkit-transform: skewY(-45deg);
    -moz-transform: skewY(-45deg);
    -ms-transform: skewY(-45deg);
    -o-transform: skewY(-45deg);
    transform: skewY(-45deg);
}
.anti_skewX{
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    transform: skewX(45deg);
}
.anti_skewY{
    -webkit-transform: skewY(45deg);
    -moz-transform: skewY(45deg);
    -ms-transform: skewY(45deg);
    -o-transform: skewY(45deg);
    transform: skewY(45deg);
}

.border_top{
    position: absolute;
    width: 120%;
    height:30px;
    top:0px;
    right: -10%;
}
.border_bot{
    position: absolute;
    width: 120%;
    height:10px;
    bottom:0px;
    left: -10%;
}
.border_left{
    position: absolute;
    width:10px;
    height:100%;
    top:0px;
    left:0px;
    overflow: hidden;
}
.border_right{
    position: absolute;
    width:10px;
    height:100%;
    bottom:0px;
    right:0px;
    overflow: hidden;
}
.strip_right{
    position:absolute;
    width: 10px;
    height: 45%;
    top: 40px;
    right:0px;
}
.strip_left{
    position:absolute;
    width: 10px;
    height: 45%;
    bottom: 20px;
    left: 0px;
}
.skew_left{
    position: absolute;
    height: 300px;
    width: 260px;
    top: -30px;
    left: -100px;
    display:none;
}
.skew_right{
    position: absolute;
    height: 300px;
    width: 260px;
    bottom: -10px;
    right: -120px;
    display:none;
}

.mask{
    position: absolute;
    width:calc(100% - 20px);
    height:calc(100% - 40px);
    top:30px;
    left:10px;
    overflow:hidden;
}

.COM_logo_AF{
    position: absolute;
    width: 175px;
    height: 15px;
    top: 7px;
    right: 10px;
}

.F1_pic{
    background-image:url(picture.jpg);
}
.F1_picZoom{
    background-image:url(picture.jpg);
    transform: skewX(45deg) scale(1.5);
}
.F1_cache{
    width: 180%;
    left: -100px;
}

.COM_cache{    
    width: 176%;
    left: -96px;
    top:-30px;
}

.label{
    background-image:url(label.svg);
}
.F2_label{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 70px;
    left: 50%;
    transform: translate(-50%,0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.F2_txt{
    position: absolute;
    width: 100%;
    top: 78%;
    text-align:center;
    font-size:20px;
    font-weight: 900;
}

.header{
    position: absolute;
    width: 100%;
    top: 48px;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}
.city{
    position: absolute;
    width: 100%;
    top: 89px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
.price{
    position: absolute;
    width: 100%;
    top: 107px;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}
.ar{
    position: relative;
    top: -30px;
    left: 55px;
    font-size: 8px;
}
.tax{
    position: relative;
    top: -22px;
    left: 62px;
    font-size: 8px;
}
.txt1{
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.txt2{
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}
.cta{
    position: absolute;
    width: 120px;
    height: 25px;
    top: 175px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
.ml{
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}


.FF_header{
    position: absolute;
    width: 100%;
    top: 36px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
.FF_bloc_desti{
    position: absolute;
    width:100%;
    top: 40px;
}
.FF_desti{
    position:relative;
    width:100%;
    margin-top: 25px;
    display: inline-block;
}
.FF_city{
    position: absolute;
    width: 50%;
    top: 0px;
    left: 0px;
    text-align: right;
    font-size: 22px;
    font-weight: 900;
}
.FF_price{
    position: absolute;
    width: 43%;
    top: 0px;
    right: 0px;
    text-align: left;
    font-size: 22px;
    font-weight: 900;
}
.FF_price:before{
    content: 'à partir de';
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Excellence In Motion", sans-serif;
}
.FF_ar{
    position: relative;
    top: -22px;
    left: 62px;
    font-size: 6px;
}
.FF_tax{
    position: relative;
    top: -16px;
    left: 62px;
    font-size: 6px;
}
.FF_txt1{
    position: absolute;
    width: 100%;
    top: 162px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}
.FF_txt2{
    position: absolute;
    width: 100%;
    bottom: 28px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
}
.FF_cta{
    position: absolute;
    width: 120px;
    height: 25px;
    top: 180px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.COM_ml{
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 70px);
    top: 30px;
    left: 10px;
    padding: 15px;
    line-height: 180px;
    background-color: rgba(255,255,255,0.9);
    color: #003366;
    font-size: 10px;
    font-family: arial;
    font-weight: 500;
    display: none;
    text-align:center;
}
/*Alignement vertical du texte*/
.COM_ml span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#contour{
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    border: 1px solid black;
    cursor: pointer;
    pointer-events: none;
}